{% extends "allauth/layouts/entrance.html" %}

{% load allauth %}

{% block content %}
<div class="inner-container">

    <h1>Sign Out</h1>

    <p>Are you sure you want to sign out?</p>

    <form method="post">
        {% csrf_token %}

        <div class="form-lower-section">
            <button id="submit-button" type="submit">
                Sign Out
            </button>

            <a href="{% url 'home' %}" id="cancel-button">
                Cancel
            </a>
        </div>
    </form>

</div>
{% endblock %}