{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
    <div class="top-section" style="grid-area: top-section;">
        <form id="search-form" role="search" method="get">
            <input id="search-input" type="search" name="search-query" placeholder="Search...">
        </form>

        <button id="filter-btn" onclick=toggle_filter_modal()>
            Filter
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>
        </button>

        <a href="/task/create/" id="add-button">
            Add
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q65 0 123 19t107 53l-58 59q-38-24-81-37.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q32 0 62-6t58-17l60 61q-41 20-86 31t-94 11Zm280-80v-120H640v-80h120v-120h80v120h120v80H840v120h-80ZM424-296 254-466l56-56 114 114 400-401 56 56-456 457Z"/></svg>
        </a>

        <div id="content-dropdown-container">
        <button class="table-content-toggle">
            Content: Tasks
        </button>

        <div id="dropdown-content">
            <a id="task-link" href="?{{ query_param }}&table-content=tasks">Tasks</a>
            <a id="subtask-link" href="?{{ query_param }}&table-content=subtasks">Subtasks & Notes</a>
        </div>
        </div>

        <div id="pagination-container">
            {% if tasks.number != 1 %}
            <a href="?{{ query_params }}{{ tasks.start_index }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
            </a>
            {% else %}
            <a class="inactive" href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
            </a>
            {% endif %}

            {% if tasks.has_previous %}
            <a href="?{{ query_params }}&page={{ tasks.previous_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
            </a>
            {% else %}
            <a class="inactive" href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
            </a>
            {% endif %}

            <span>
                Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}
            </span>

            {% if tasks.has_next %}
            <a href="?{{ query_params }}&page={{ tasks.next_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
            </a>
            {% else %}
            <a class="inactive" href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
            </a>
            {% endif %}

            {% if tasks.has_next and tasks.number != tasks.count %}
            <a href="?{{ query_params }}&page={{ tasks.end_index }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
            </a>
            {% else %}
            <a class="inactive" href="">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
            </a>
            {% endif %}
        </div>
    </div>

    <div class="filter-modal-container close" id="filter-modal-container">
        <div class="filter-modal">
            <span>
                <h1>Filters</h1>
                <button onclick=toggle_filter_modal()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </button>
            </span>
            <form action="" method="get">

                <div id="date-filter-container">
                    <h3>Sort by Date</h3>
                    <div id="option-container">
                        <div class="filter-option active">
                            <input type="radio" name="date-sort" id="date-sort-radio-asc" value="asc" checked>
                            <label for="date-sort-radio-asc">Ascending</label>
                        </div>

                        <div class="filter-option">
                            <input type="radio" name="date-sort" id="date-sort-radio-desc" value="desc">
                            <label for="date-sort-radio-desc">Descending</label>
                        </div>
                    </div>
                </div>

                <div id="status-filter-container">
                    <span id="filter-header">
                        <h3>Status</h3>
                        <input id="status-toggler" type="checkbox" onclick="toggle_checkboxes(this, status_checkboxes)">
                    </span>
                    <div class="option-container">
                        <div class="filter-option">
                            <input class="status-filter-checkbox" type="checkbox" name="status" value="Pending" id="in-progress-status" onclick="toggle_checkbox_toggler(status_toggler, status_checkboxes)">
                            <label for="in-progress-status">Pending</label>
                        </div>
                        <div class="filter-option">
                            <input class="status-filter-checkbox" type="checkbox" name="status" value="In Progress" id="completed-status" onclick="toggle_checkbox_toggler(status_toggler, status_checkboxes)">
                            <label for="completed-status">In Progress</label>
                        </div>
                        <div class="filter-option">
                            <input class="status-filter-checkbox" type="checkbox" name="status" value="Completed" id="Completed" onclick="toggle_checkbox_toggler(status_toggler, status_checkboxes)">
                            <label for="expired-status">Complete</label>
                        </div>
                    </div>
                </div>

                <div class="category-filter-container">
                    <span id="filter-header">
                        <h3>Categories</h3>
                        <input id="cat-toggler" type="checkbox" onclick="toggle_checkboxes(this, cat_checkboxes)">
                    </span>
                    <div class="option-container">
                        {% for category in categories %}
                            <div class="filter-option">
                                <input class="cat-filter-checkbox" type="checkbox" name="category" value="{{ category.name }}" onclick="toggle_checkbox_toggler(cat_toggler, cat_checkboxes)">
                                <label for="{{ category }}">{{ category }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="priority-filter-container">
                    <span id="filter-header">
                        <h3>Priorities</h3>
                        <input id="priority-toggler" type="checkbox" onclick="toggle_checkboxes(this, priority_checkboxes)">
                    </span>
                    <div class="option-container">
                        {% for priority in priorities %}
                            <div class="filter-option">
                                <input class="priority-filter-checkbox" type="checkbox" name="priority" value="{{ priority.name }}" onclick="toggle_checkbox_toggler(priority_toggler, priority_checkboxes)">
                                <label for="{{ priority }}">{{ priority }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <button id="apply-btn" type="submit">Apply</button>
                <button id="reset-btn" type="reset">Reset</button>
            </form>
        </div>
    </div>

    <div class="table-wrapper">
        <table style="grid-area: todos-table;">
            <thead>
                <colgroup>
                    <col style="width: fit-content;">
                    <col style="width: 10%;">
                    <col style="width: 45ch;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: fit-content;">
                    <col style="width: fit-content;">
                </colgroup>
                <tr>
                {% if table_content == 'tasks' %}
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th colspan="2">Tools</th>
                {% else %}
                    <th>Parent Task</th>
                    <th></th>
                    <th>Title</th>
                    <th>Status</th>
                    <th colspan="2">Tools</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}

                {% if table_content == 'tasks' %}
                <tr>
                    {% if task.status == 'Completed' %}
                    <td id="checkbox-column"><input id="taskComplete" type="checkbox" checked></td>
                    {% else %}
                    <td id="checkbox-column"><input id="taskComplete" type="checkbox"></td>
                    {% endif %}
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.category }}</td>
                    <td>{{ task.priority }}</td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>

                {% else %}

                {% for subtask in task.subtasks.all %}
                <tr>
                    <td colspan="{{ task.subtask.count }}">{{ task.title }}</td>
                    {% if subtask.status == 'Completed' %}
                    <td id="checkbox-column"><input id="taskComplete" type="checkbox" checked></td>
                    {% else %}
                    <td id="checkbox-column"><input id="taskComplete" type="checkbox"></td>
                    {% endif %}
                    <td>{{ subtask.title }}</td>
                    <td>{{ subtask.status }}</td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                {% endfor %}

                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}