@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-clr: #091836;
    --highlight: #011f5b;
    --accent: #ffbf00;
    --line-clr: #fffff0;

    --default-margin: 5px;
    --default-padding: 1rem;
    --default-border-radius: 10px;
    --default-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5); 
}

body {
    font-family: 'Poppins', 'Nova Mono',  sans-serif;
    background-color: var(--base-clr);
    color: var(--line-clr);

}

.main_container {
    min-height: 100vh;
    border: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 2px solid var(--line-clr);
    gap: 1rem;
    overflow: hidden;

    transition: 300ms ease;

    #username-section {
        
    }
}
#sidebar.close {
    width: 60px;
    padding: 5px;
}
#sidebar ul {
    list-style: none;
    > li {
        border-radius: .5em;
    }
}
#sidebar ul li.sidebar-content a{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--line-clr);
    display: flex;
    align-items: center;
    gap: 1em;
    position: sticky;
    top: 0;
    align-self: start;

}
#sidebar ul li.sidebar-content:hover {
    background-color: var(--highlight);
}
#sidebar ul li.active a {
    color: var(--accent);
     > svg {
        fill: var(--accent);
     }
}
#sidebar #profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > #profile-pic {
        width: 55px;
        height: 55px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px dashed var(--line-clr);

        transition: .3s ease-in-out;
    }

    > #toggle-btn {
        background: none;
        border: none;
        border-radius: .5em;

        svg {
            width: 35px;
            height: 35px;
            fill: var(--accent);
            transition: rotate 150ms ease;
        }
    }
    > #toggle-btn:hover {
        background-color: #011f5b;
    }
}
#sidebar.close #profile-section{
    #profile-pic {
        width: 0px;
        height: 0px;
        border: none;
    }
}
#sidebar #username {
    opacity: 1;
    font-weight: 600;

    transition: 350ms ease-out;
}
#sidebar.close #username {
    opacity: 0;
}
#sidebar svg {
    flex-shrink: 0;
    fill: var(--line-clr);
}
.rotate svg:last-child {
    rotate: 180deg;
}


main {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "top-section"
    "todos-table";

    padding-right: var(--default-padding);
    padding-bottom: var(--default-padding);
    padding-top: var(--default-padding);
    border: 2px solid black;
}
main .top-section {
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-section #search-bar {
    display: flex;
    min-width: 150px;
    background-color: var(--highlight);
    padding: 5px 1em;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-shadow);

    > form input {
        background: transparent;
        border: none;
    }

    input::placeholder {
        color:#d39e00;
    }

    > #search-btn {
        background-color: transparent;
        border: none;
    }

    transition: all .1s ease 0s;
}

.top-section #search-bar:hover {
    background-color: hsl(219, 100%, 16%);
}

.top-section #date-filter-container {
    overflow: hidden;
    #date-filter-toggle {
        display: flex;
        background-color: var(--highlight);
        border: none;
        color: var(--accent);
        min-width: 100px;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        padding: 5px 10px;
        border-radius: var(--default-border-radius);
        box-shadow: var(--default-shadow);

        svg {
            width: 1.2em;
            fill: var(--accent);
            transition: rotate 300ms ease;
        }

    }
}
.top-section #date-filter-container #date-filter-toggle:hover {
    background-color: hsl(219, 100%, 16%);
}
#date-filter-container.rotate svg:last-child {
    rotate: 180deg;
}

.top-section #stat-filter {
    display: flex;
    background-color: var(--highlight);
    border: none;
    color: var(--accent);
    min-width: 100px;
    justify-content: left;
    padding: 5px 10px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-shadow);
    transition: all .1s ease 0s;
}
.top-section #stat-filter:hover {
    background-color: hsl(219, 100%, 16%);
}

.top-section #cat-filter {
    display: flex;
    background-color: var(--highlight);
    border: none;
    color: var(--accent);
    min-width: 100px;
    justify-content: left;
    padding: 5px 10px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-shadow);
    transition: all .1s ease 0s;
}
.top-section #cat-filter:hover {
    background-color: hsl(219, 100%, 16%);
}

.top-section #add-todo {
    display: flex;
    background-color: #00FF7F;
    border: none;
    color: #f0f0e7;
    min-width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-shadow);
    transition: all .1s ease 0s;
    font-size: 1rem;
}
.top-section #add-todo:hover {
    background-color: #02e272;
}

main table {
    display: block;

    border: none;
    border-radius: var(--default-border-radius);
    border-collapse: collapse;
    overflow: hidden;

    background-color: var(--highlight);
    box-shadow: var(--default-shadow);
}
th,
tr {
    border-bottom: 1px solid #f3f3f3;
    padding: 15px 50px;
}
table th {
    background-color: var(--accent);
}